<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Weather dash</h1>
    <p>Prijavljen si kot: <strong>{{cur_user}}</strong> | <a href="/logout">Odjava</a></p>
    {% if msg %}
        <p style="color: rgb(255, 0, 0);"><strong>{{ msg }}</strong></p>
    {% endif %}

    <h2>Shrani kraj</h2>
    <form action="/add_location" method="POST" > 
        <label for="mesto">Ime_kraja/mesta</label><br>
        <input type="text" id="mesto" name="mesto" rows="1" required></textarea><br><br>
        
        <input type="submit" value="Dodaj">
    </form>
    <hr>
    <h2>Shranjeni kraji</h2>
    <ul>
        {% for location in podatki %}
        <li>
            <li style="margin-bottom: 20px;">
                <p><strong>Lokacija: </strong>{{ location.city }}</p>
                <p><strong>Trenuntni čas v mestu: </strong>{{location.local_time}}</p>
                <p><strong>Temperatura: </strong>{{location.temp}}°C</p>
                <p><strong>Vreme: </strong>{{location.description}}</p>
                <button onclick="delete_location({{location.id}})">Izbriši lokacijo</button>
            </li>
            {% else %}
            <li>Nimaš še nobene lokacije shranjene</li>
            {% endfor %}
            
        </li>
    </ul>
    
    <script>
        function delete_location(location_id, buttonElement){
            fetch("/delete_location/" + location_id, {
                method: "POST"
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert("Napaka pri brisanju")
                }
            })
            .catch(error => {
                console.error('Napaka pri brisanju', error);
            });
        }
    </script>
</body>
</html>